{%extends "base.html" %}
{% block content %}    
  <body> 
  <h2 class="header">Blog Card</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>we can build a block by starting with a brick and never give up and find out one day we have build a wall of fence. Keep pushing</p>
      </div>
      <div class="card-action">
        <a href="#">Info</a>
      </div>
    </div>
  </div>
</div>
</body> 
{% endblock%}